# Rust
/target
/target/
Cargo.lock
.env
.cargo

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Dev Container
.devcontainer/root

# Python (if any)
__pycache__/
*.pyc
.venv/
# Node / Web
node_modules/
dist/
.eslintcache
*.log
.prettierapi

# input/output data
data/

# static opencv
vendor/
env.sh
